<div class="card">
  
    <div class="card-header">
      Editar evidencia
    </div>
    <div class="card-body">
      <!-- <form ngNativeValidate [formGroup]="formevidencia" (ngSubmit)="enviarDatos()"> -->
     <div class="mb-3">
       <label for="" class="form-label">evidencia</label>

       <input required type="text"
       class="form-control" name="" id="" formControlName="nombre" aria-describedby="helpId" placeholder="ingrese semana correspondiente">

       <input required type="date"
       class="form-control" name="" id="" formControlName="precio" aria-describedby="helpId" placeholder="Ingrece fecha">
       <input required type="text"
       class="form-control" name="" id="" formControlName="imagen" aria-describedby="helpId" placeholder="escriba el dia solicitado">
       <input required type="text"
       class="form-control" name="" id="" formControlName="stock" aria-describedby="helpId" placeholder="Ingrece la cedula">
       <input required type="time"
       class="form-control" name="" id="" formControlName="estado" aria-describedby="helpId" placeholder="Escribe la hora inicio">
  
       
     </div>

    <div class="btn-group" role="group" aria-label="">
      <button type="submit" class="btn btn-warning">Modificar registro</button>
      <button type="button" routerLink="/list-evidencia" class="btn btn-primary">Cancelar</button>
    </div>
    <!-- </form> -->
  </div>
  
  