<div class="container">
<div class="card">
  <div class="card-header">
    <a class="btn btn-success" routerLink="/add-evidencia/">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-cart-check-fill" viewBox="0 0 16 16">
      <path
        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
    </svg>
      Agregar nuevo carrito</a>
  </div>
  <div class="card-body">

    <h2>Lista de Deseos 🧐</h2>
    <table class="container-fluid" id="season-tble">

      <thead>
        <tr>
          <th>Codigo</th>
          <th>nombre</th>
          <th>precio</th>
          <th>imagen </th>
          <th>stock</th>
          <th>estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evidencia of evidencias; let iControl=index">
          <td>{{evidencia.id}}</td>
          <td>{{evidencia.nombre}}</td>
          <td>{{evidencia.precio}}</td>
          <td>{{evidencia.imagen}}</td>
          <td>{{evidencia.stock}}</td>
          <td>{{evidencia.estado}}</td>
          <td>
            <!-- <a   class="btn btn-info" routerLink="/edit-persona/{{evidencia.id}}">Editar</a> -->
           <a   class="btn btn-danger" (click)=" deleteevidencia(evidencia.id,iControl)" role="button">Borrar</a> 
         </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>